<a href="https://colab.research.google.com/github/anjanavasudevan/DataTalks-ML-Course/blob/main/Week1/Week1HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Homework implementation

In [53]:
import numpy as np
import pandas as pd

## Question 1

Checking the version

In [54]:
np.__version__

'1.19.5'

In [55]:
pd.__version__

'1.1.5'

## Question 2

Importing the data

In [56]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
data = pd.read_csv(url)

# Checks to ensure data is imported correctly
data.head(10)

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500
5  BMW    1 Series  2012  ...       18        3916  31200
6  BMW    1 Series  2012  ...       17        3916  44100
7  BMW    1 Series  2012  ...       20        3916  39300
8  BMW    1 Series  2012  ...       18        3916  36900
9  BMW    1 Series  2013  ...       18        3916  37200

[10 rows x 16 columns]

In [57]:
data.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 8 columns]

## Question 3

Average price of BMW cars

In [58]:
data[data['Make'] == 'BMW'].mean()

Year                 2014.347305
Engine HP             326.907186
Engine Cylinders        5.958084
Number of Doors         3.161677
highway MPG            29.245509
city mpg               20.739521
Popularity           3916.000000
MSRP                61546.763473
dtype: float64

## Question 4

Finding missing values for the subset of cars made after 2015

In [59]:
#Filtering the year
after_2015 = data[data['Year'] >= 2015]

# Checking for missing values
after_2015['Engine HP'].isnull().count()

5995

## Question 5

Modifying the values in the `Engine HP` column

In [60]:
# Before filling the null values:
mean_engine_hp = data['Engine HP'].mean()
print(mean_engine_hp)

249.38607007176023

In [61]:
# Filling the missing values

data['Engine HP'].fillna(mean_engine_hp)

0        335.0
1        300.0
2        300.0
3        230.0
4        230.0
         ...
11909    300.0
11910    300.0
11911    300.0
11912    300.0
11913    221.0
Name: Engine HP, Length: 11914, dtype: float64

In [62]:
data['Engine HP'].mean()

249.38607007176023

## Question 6

Filtering and matrix multplication

In [63]:
# Selecting all Rolls Royce cars
filtered_data = data.loc[data['Make'] == 'Rolls-Royce', ['Engine HP', 'Engine Cylinders', 'highway MPG']]

# Dropping the duplicates
X_pd = filtered_data.drop_duplicates()

# Converting to numpy
X = X_pd.to_numpy()
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [64]:
# Matrix multiplication
inverse = np.linalg.inv(X.T@X)
inverse

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [65]:
# Verifying the sum of elements in matrix
np.sum(inverse)

0.032212320677486125

## Question 7

In [66]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

product = inverse@X.T

# Calculating w
w = product@y
w[0]

0.19989598183188978